.Message {
   width: 30%;
}
.Message-Color {
   color: lightblue;
}
.Message-Form {
   width: 30%;
   overflow: hidden;
   background: #2C333D;
}
.Message-Text {
   display: block;
   margin-bottom: 5px;
}
.Message-Message {
   color: lightblue;
   float: left;
   word-break: break-all;
}